name: CD - Production Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Build Docker images
      run: |
        docker build -t uptime-api ./UptimeMonitoring.Api
        docker build -t uptime-worker ./UptimeMonitoring.Worker

    # Later (when deploying)
    # - Push images
    # - Trigger Render deploy
